@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;800&display=swap');

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
	background: rgb(75, 75, 75);
}

*::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 10px;
	border: 3px solid rgb(75, 75, 75);
}

body {  
    color: white;
    background-color: rgb(36, 36, 36);
    font-family: 'Kumbh Sans', sans-serif;
}

h1 {
    padding-top: 1rem;
    text-align: center;
}

form {
    margin: 1.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#todoName {
    width: 500px;
    height: 25px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#todoName:focus {
    outline: none;
}

#btnSubmit {
    height: 47px;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    background-color: crimson;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.campo-todo {
    overflow: auto;
    display: block;
    margin: auto;
    padding: 10px;
    min-width: auto;
    max-width: 600px;
    height: 400px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgb(75, 75, 75);
    border-radius: 20px;
}

.item {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgb(75, 75, 75);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
}

.item:hover {
    background-color: gray;
}

.item>div {
    width: 14px;
    height: 14px;
    border: 1px solid white;
    border-radius: 50%;
    transition: .2s ease;
}

.item>div:hover {
    transform: scale(1.05);
}

.item>span {
    font-size: 1rem;
}

.item>button {
    cursor: pointer;
    color: lightgray;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: none;
    transition: .3s ease-in-out;
}

.item>button:hover {
    color: white;
    background-color: rgba(220, 20, 60, 0.6);
}

.item-marcado {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
}

.item-marcado:hover {
    background-color: darkgray;
}

.item-marcado>div {
    width: 14px;
    height: 14px;
    border: 1px solid white;
    background-color: crimson;
    border-radius: 50%;
    transition: .2s ease;
}

.item-marcado>div:hover {
    transform: scale(1.05);
}

.item-marcado>span {
    text-decoration: line-through;
    color: gray;
    font-size: 1rem;
}

.item-marcado>button {
    cursor: pointer;
    color: whitesmoke;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: crimson;
    transition: .3s ease-in-out;
}

.campoInfo {
    min-width: auto;
    max-width: 500px;
    display: block;
    margin: auto;
    padding: 2.5rem 0;
}

.deletarTudo {
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 13px;
    font-size: 1rem;
    font-weight: 500;
    width: 230px;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 15px;
    transition: .2s ease;
}

.deletarTudo:hover {
    opacity: 60%;
}

#img-display {
    display: block;
    margin: auto;
    padding-top: 3rem;
    width: 300px;
}